<tr>
    <td>{{id}}</td>
    <td><img src="data/image/{{image}}.png" class="exIcon"></td>
    <td>{{name}}</td>
    <td>{{size}}</td>
    <td>{{type}}</td>
    <td><a href="/delete/{{id}}" class="tableLink">DELETE</a></td>
    <td><a href="/info/?id={{id}}" class="tableLink">INFO</a></td>
    <td><a href="/download/{{id}}" class="tableLink">DOWNLOAD</a></td>
</tr>