<div id="left">
    fileinfo
</div>
<div id="right">
    <div class="info"><div class="infoLabel">id: </div>{{id}}</div><br>
    <div class="info"><div class="infoLabel">name: </div>{{name}}</div><br>
    <div class="info"><div class="infoLabel">path: </div>{{path}}</div><br>
    <div class="info"><div class="infoLabel">size: </div>{{size}}</div><br>
    <div class="info"><div class="infoLabel">type: </div>{{type}}</div><br>
    <div class="info"><div class="infoLabel">savetime: </div>{{savetime}}</div>
</div>